@media screen and (max-width: 992px){
       
    .blog-card{
       grid-template-columns: 1fr;
       
   }
   
   .navbar{
     display: block;
   }
   
   }
   
   @media screen and (max-width: 768px){
       .blog-card{
       grid-template-columns: 1fr;
 }
