
   *{
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Poppins', sans-seri;
    padding: 0;
    box-sizing: border-box;
   }

   .container{
    display: grid;
    grid-template-columns: 30px repeat(7, 1fr);
    grid-auto-rows: minmax(50px auto);
    gap: 40px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd sd sd sd sd sd sd"
    "ft ft ft ft ft ft ft ft"    ;
   }

   .header-box{
     grid-area: hd;
     align-items: center;
     margin: auto;

     
   }
   .sidebar{
    grid-area: sd;
    padding: 10px;
    
   }

   .grid-img{
    border-radius: 200px;
    height: 180px;
    display: block;
    margin: auto;
   }
   .footer-blog{
    grid-area: ft;
    padding: 10px;
   }
   
   .logo{
    text-decoration: none;
    margin: 10px 20px;
   }


