.blog-section{
    width: 100%;
}

.blog-section, .section-content{
    width: 90%;
    margin: 20px auto;
}
.blog-section .section-content, .title{
    width: 95%;
    text-align: center;
    margin: auto;
}

.blog-section .section-content .title, h2{
    font-size: 40px;
    color:#23d25d;
    text-transform: uppercase;
}

.blog-section .section-content .title, p{
    font-size: 18px;
    color: #6a6a6a;
    margin: auto;
}